.moder-page__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: linear-gradient(#000000, #01042d);
}

.box__content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: #fff;
  gap: 5px;
}
.card__box {
  width: 350px;
  height: 250px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  background-color: #040a20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(56, 54, 54, 0.5);
}
.card__box:hover .moder-page__btn {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.moder-page__btn {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 5px;
  width: 40%;
  align-items: center;
  margin: 20px 0 0;
  padding: 10px 6px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1;
}
.moder-page__btn:hover {
  color: #fff;
  background-color: #6e73bc;
}
.card__box:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(#e1ff00, #00b7ff);
  transform: skew(2deg, 2deg);
  z-index: -1;
}
.card__box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.06);
}

